html {box-sizing: border-box;}

/* ABOUT PAGE */

#about-page {
font-size: 0.8em;
font-weight: 300;
padding-left: 0;
padding-right: 0;
}

#about-content {
    height: 100%;
    width: 50vw;
    margin-bottom: 0;
    margin-right: 10vw;
    margin-left: 5vw;
    padding-bottom: 2rem !important;
    padding-top: 2rem;

}

.about-heading {
    margin-top: 40px;
    font-size: 1.5rem;
}

.about-institution-name {
font-weight: 500;
margin-bottom: 0 !important;
}

.about-h5 {
    color: white;
    font-weight: 400;
    margin: 40px auto 20px auto;
    border: solid black;
    background: black;
    border-radius: 10px;
    width: 10rem;
    padding: 10px 10px 10px 10px !important;
}

.about-list-item {
    font-weight: 300;
    font-size: 1.5rem;
    padding-top: 20px;
    padding-bottom: 0px !important;
    margin-bottom: 0px;
}

body {
    letter-spacing: 1px;
    font-size: 1.5rem;
    min-width: 277px;
    min-height: 100vh;
}



.control-label{
    color: grey;
    font-family: 'Mohave', sans-serif;
}

#email, #name {
    border-top: none;
    border-left: none;
    border-right: none;

}

.form-control{
    --bs-border-radius: 0 !important;
    border-radius: 0;
    letter-spacing: 2px;
    font-size: 1.3rem;
    color: grey;
}

.form-control:focus{
    color: grey;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.heading {
font-family: 'Mohave', sans-serif;
letter-spacing: 4px;
font-stretch: extra-expanded;
}

input:focus, input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    letter-spacing: 1px;
    font-size: 1.5rem;
    color: grey;
}

text-area.form-control:focus {
    color: grey;
    letter-spacing: 1px;
    font-size: 1.5rem;

}


.profile-img {
  height: 20vh;
  width: auto;
  border-radius: 50%;
}




#skills-page {
    font-size: 0.8em;
    font-weight: 300;
    padding-left: 0;
    padding-right: 0;
}

#skills-content {
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;

}
.head-medium {
font-size: 1.9em;
font-weight: 500;
}

.list-group {
    width: 70vw;
    margin: auto;
    padding-top: 3rem !important;
}

.list-group-item {
    font-weight: 300;
    font-size: 1.5rem;
    background: transparent !important;
    border: none !important;
    padding: 15px;
}
.help-block {
    color: red;
    font-size: 1.3rem;
}

hr {
  border: 7px dotted #D3DBDB;
  border-bottom: none;
  width: 4%;
  margin: auto;
}

.interests {
    padding: 0 !important;
}

.message{
    font-size: 1.5rem;
    margin: 0 !important;
}

.page-body{
    min-height: 77vh;

    margin: 0 !important;

}
.projects-banner {
    margin-top: 0 !important;
}

.projects-container {
    margin-right: 0 !important;
    margin-left: 0 !important;


}

.projects-row {
    margin: 0 !important;
    padding: 0 !important;
}

.project {
    max-height: 420px;
    border: 3px solid grey;
    padding: 0 !important;
    margin: 10px;
    }

.project-link, .home-link {
    width: 100%;
    height: 110%;
    text-decoration: none;
    color: inherit;

}

.project-description-div{
    height: 30%;
    width: 90%;
    margin: 20px auto !important;
}

.project-description {
    font-size: 1.1rem;
    margin-bottom: 0 !important;
}

.project-heading {
    font-family: 'Mohave', sans-serif;
    font-size: 1.7rem;
    letter-spacing: 4px;
    font-stretch: extra-expanded;
    margin-bottom: 0 !important;
}

.project-snap{
    max-height: 55%;
    width: auto;

}

#send{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2rem !important;
    letter-spacing: 2px;


}

/* MEDIA RULES */

@media (max-width: 770px) {
    .splash {
    margin-left: auto;
    margin-right: auto;
    }
}

@media (max-width: 700px) {}


@media (max-width: 600px) {
    #about-page, #skills-page #contact-page {
        background-size: 90%;
    }

    #skills-content  {
    margin-left: 0 !important;
    }

    #about-content {
        margin-left: 0 !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;

    }

    #about-content, #skills-content, #contact-page {
        width:100% !important;
        height: 100% !important;
        background-color: #FFFFFFDD !important;
        padding: 0 20px;
        }


}

@media (min-width: 576px) {

}

@media (max-width: 470px) {
    .project-snap {
        height: 70%;
        width: auto;
    }

}


@media (max-width: 330px) {
    .project {
        height: 200px;
    }
    .project-description {
    height: 100%;
    }
    .project-snap {
        display: none;
    }

    .page-heading {
        font-size: 11vw;
    }


}
