{% include "header.html" %}

<!-- ABOUT PAGE -->
<div id="about-page" class="contact-page-body container-fluid text-center mx-0" style="background:transparent url('static/img/color-splash-right.png'); background-size: 300px 75vh; background-repeat: no-repeat; background-position-x: right; background-position-y: 43%; background-attachment: fixed; ">


    <div class="container-fluid col-md-2 col-sm-3 col-sm-mx-0 " id="about-content"  >

        <img src="static/img/Iprofile_pic.jpg" class="profile-img d-block img-fluid mx-auto position-relative" alt="Photo of Ekaterina Atencio" loading="lazy" style="object-fit: cover; width: 20%; height: 20%; max-width: 170px; max-height: 170px; min-width: 90px; min-height: 90px; padding-top: 1rem; padding-bottom: 1rem;">
        <h1 class="heading head-medium display-5 fw-bold text-body-emphasis lh-1 mt-2 mb-2">ABOUT EKATERINA</h1>



        <button  class="about-heading btn btn-outline-dark disabled" >Education:</button>
        <p class="about-list-item">Associate in Art degree in Education.</p> <p class="about-institution-name">Belinskiy Municipal Multidisciplinary Comunity College, 2009 </p>



        <button class="about-heading btn btn-outline-dark disabled" >Certifications:</button>
            <p class="about-list-item"> CS50x: CS50's Introduction to Computer Science </p> <p class="about-institution-name">Harvard University</p>
            <p class="about-list-item"> 100 Days of Code: The Complete Python Pro Bootcamp</p> <p class="about-institution-name">Udemy</p>
            <p class="about-list-item"> Responsive Web Design</p> <p class="about-institution-name">freeCodeCamp</p>
            <p class="about-list-item">Manual Software Testing: Complete Course with Practical Labs</p> <p class="about-institution-name"">Udemy</p>
            <p class="about-list-item">The Git & Github Bootcamp</p><p class="about-institution-name">Udemy</p>




        <button class="about-heading btn btn-outline-dark disabled" >Interests</button>
        <p class="about-list-item">
            <p class="about-list-item interests">Photography</p>
        <p class="about-list-item interests">Videography and Video Editing</p>
        <p class="about-list-item interests">Puzzle Solving</p>
        <p class="about-list-item interests">Art and Crafts</p>
        </p>



    </div>
</div>


{% include "footer.html" %}