{% include "header.html" %}

<section id="title">
    <div class="container-fluid">

          <div class="container col-xxl-10 " style="height:80vh; max-width: 1800px; ">
              <div class="row flex-lg-row-reverse align-items-center justify-content-center py-auto px-auto" style="height:80vh; max-width: 1800px; " >

                  <div class="col-10 col-sm-8 col-lg-6 pt-5 pb-5 align-items-center justify-content-center"  style="background:transparent url('static/img/color_splash.png'); background-size: 100% 100%; background-position:center;
background-repeat: no-repeat; height:60vh; width:60nh">
                      <img src="static/img/photo.png" class="profile-img d-block mx-auto img-fluid mx-auto my-auto" alt="Bootstrap Themes" height="170" loading="lazy" style="object-fit: cover">
                  </div>

                  <div class="col-lg-4 text-center">
                      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Ekaterina Atencio</h1>
                      <p class="lead mb-4">Junior Python Developer</p>
                      <div class="d-grid gap-2 d-md-flex justify-content-center">
                          <button type="button" class="btn btn-outline-secondary btn-lg px-4 me-md-2"> Projects</button>
                          <button type="button" class="btn btn-dark btn-lg px-4">
                              Contact</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
    </div>
  </section>


{% include "footer.html" %}

