{% include "header.html" %}

<!-- HOME PAGE BODY -->
    <div class="page-body">


          <div class="container col-xxl-10" >

              <div class="row flex-md-row-reverse align-items-center justify-content-center " style="height:60vh; max-width: 1800px; " >

              <div class="col-10 col-sm-3 col-md-6 col-lg-6 col-xl-7 align-items-center justify-content-center"  style=" padding: 7rem 2rem; background:transparent url('static/img/color-splash.jpg'); background-size: 100% 100%; background-position:center; background-repeat: no-repeat; height: 65%; width: 60%; min-height: 230px; max-height: 700px; min-width: 270px; loading: lazy;  "></div>

                  <div class="col-md-4 col-lg-4 text-center">
                      <h1 class=" heading display-5 fw-bold text-body-emphasis lh-1 mt-2 mb-2">EKATERINA ATENCIO</h1>
                      <p class="lead mb-4">Python Developer</p>
                      <div class="d-grid gap-2 d-md-flex justify-content-center">
                          <a class="btn btn-outline-secondary btn-md px-4 me-md-2 col-sm-btn-sm" href="{{url_for('projects')}}"> Projects</a>
                          <a class="btn btn-outline-dark btn-md px-4 " href="{{url_for('contact')}}" style="background-color: black; color: white;">
                              Contact</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>


  </div>

{% include "footer.html" %}

