{% include "header.html" %}

<section id="title" style="height:65vh">


          <div class="container col-xxl-10" >
              <div class="row flex-md-row-reverse align-items-center justify-content-center " style="height:60vh; max-width: 1800px; " >

                  <div class="col-10 col-sm-3 col-md-6 col-lg-6 col-xl-7 align-items-center justify-content-center"  style=" padding: 7rem 2rem; background:transparent url('static/img/color-splash.png'); background-size: 100% 100%; background-position:center; background-repeat: no-repeat;height: 60%; width: 60%; min-height: 270px; min-width: 270px;   ">

<!--                      <img src="static/img/color_splash.png" class=" background-img mx-auto img-fluid mx-auto my-auto" style="z-index: 1;">-->
<!--                      <img src="static/img/Iprofile_pic.jpg" class="home-logo profile-img d-block mx-auto img-fluid mx-auto my-auto position-relative" alt="Bootstrap Themes" loading="lazy" style="object-fit: cover; width: 30%; height: 30%;">-->
                  </div>

                  <div class="col-md-4 col-lg-4 text-center">
                      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mt-2 mb-2">EKATERINA ATENCIO</h1>
                      <p class="lead mb-4">Python Developer</p>
                      <div class="d-grid gap-2 d-md-flex justify-content-center">
                          <button type="button" class="btn btn-outline-secondary btn-md px-4 me-md-2"> Projects</button>
                          <button type="button" class="btn btn-light btn-md px-4" style="border-color: grey; background-color: black; color: white;">
                              Contact</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

  </section>


{% include "footer.html" %}

