{% include "header.html" %}




<!-- BANNER  -->

<div class="projects-banner container col-xxl-10" >

              <div class="row flex-sm-row-reverse align-items-center " style="height:45vh; max-width: 1800px; " >

              <div class="splash col-10 col-sm-3 col-md-6 col-lg-6 col-xl-7 align-items-center justify-content-center"  style=" padding: 7rem 2rem; background:transparent url('static/img/color-splash1-projects.png'); background-size: 100% 120%; background-position:center; background-repeat: no-repeat; height: 65%; width: 60%; min-height: 230px; min-width: 270px; max-width: 600px;   "></div>

              <div class="col-md-4 col-lg-4 text-center">
                      <h1 class=" heading display-5 fw-bold text-body-emphasis lh-1 mt-2 mb-2">PROJECTS</h1>
                      <p class="lead mb-4">by Ekaterina Atencio</p>
                      </div>
                  </div>
              </div>


<!--  PROJECTS  -->

  <div class="projects-container container-fluid  pb-5">
  <div class="projects-row row justify-content-center">


      <div class="project col-12 col-md-5 col-lg-3 text-center overflow-hidden">
          <a class="project-link" href="https://medoc.ekaterinaatencio.com/" target="_blank" >
            <div class="project-description-div my-3">
              <h2 class="project-heading display-5">MEDOC</h2>
              <p class="project-description lead">Platform allows patients to store, edit and securely share medical
    history with providers.</p>
            </div>
            <div class="project-snap bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; ; background:transparent url('static/img/medoc.png'); background-size: 100% 120%; background-position:center; background-repeat: no-repeat;"></div>
         </a>
    </div>



     <div class="project col-12 col-md-5 col-lg-3  text-center overflow-hidden">
         <a class="project-link" href="{{ url_for('morse') }}" target="_blank" >
            <div class="project-description-div my-3">
              <h2 class="project-heading display-5">MORSE CODE CONVERTER</h2>
              <p class="project-description lead">Convert inputed text into Morse Code and back.</p>
            </div>
            <div class="project-snap shadow-sm mx-auto" style="width: 80%; height: 300px;"></div>
         </a>
      </div>

      <div class="project col-12 col-md-5 col-lg-3 text-center overflow-hidden">
          <a class="project-link" href="" target="_blank" >
            <div class="project-description-div my-3">
              <h2 class="project-heading display-5">TIC TAC TOE</h2>
              <p class="project-description lead">Portfolio Project.</p>
            </div>
            <div class="project-snap bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; "></div>
          </a>
      </div>

    </div>
</div>

{% include "footer.html" %}