{% include "header.html" %}

<!-- SKILLS PAGE -->
<div id="skills-page" class="container-fluid text-center mx-0" style="background:transparent url('static/img/color-splash-left1.jpg'); background-size: 40vw 70vh; background-repeat: no-repeat; background-position-x: left; background-position-y: 65%; background-attachment: fixed; min-height: 75vh; ">


    <div class="container col-md-2 col-sm-3" id="skills-content"  >

        <h1 class=" list-group heading head-medium display-5 fw-bold text-body-emphasis lh-1 mt-2 mb-2">PROFESSIONAL SKILLS</h1>
        <ul class="list-group list-group-flush pt-5">
            <hr>
           <li class="list-group-item">Python (Programming Language)</li>
            <hr>
           <li class="list-group-item">SQL</li>
            <hr>
           <li class="list-group-item">HTML5</li>
            <hr>
           <li class="list-group-item">Cascading Style Sheets (SCC)</li>
            <hr>
           <li class="list-group-item">Web Design</li>
            <hr>
           <li class="list-group-item">Git | GitHub</li>
            <hr>
           <li class="list-group-item">Jinja</li>
            <hr>
           <li class="list-group-item">Software Testing</li>
            <hr>
           <li class="list-group-item">Quality Assurance</li>
            <hr>
           <li class="list-group-item">Test Cases</li>
        </ul>
    </div>
</div>


{% include "footer.html" %}